*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(187, 235, 41);
    text-align: center;
   }
.container{
    height: 70vh;  
    margin-top: 70px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgb(251, 139, 11);
    font-size: 15vmin; 
    color: #fdfafe;
    background-color: #ed6dc9;
}
#reset-btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #e98a4f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#new-btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #e98a0f;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#msg{
    margin-top: 20px;
    font-size: 35px;
    color: #f41d3d;
}
.msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hide{
     display: none;
}


